@for(item of inputListItems; track item){
<label class="input-label-text" [for]="item.id">
  <input
    type="checkbox"
    #inputCheckbox
    [checked]="item.checked"
    (input)="updateItemCheckbox(inputCheckbox.checked, item.id)"
  />
  <input
    type="text"
    #inputValue
    [id]="item.id"
    [value]="item.value"
    placeholder="Adicionar um valor"
    outofocus
    (input)="updateItemText(inputValue.value, item.id)"
  />

  <button class="btn btn-danger-circle" title="Delete esse item" (click)="deleteItemText(item.id)"></button>
</label>
}
